<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Worldtime</title>
</head>

<body>
    <header>
        <h1>Liste des grandes capitales du monde</h1>
    </header>
    <main>
        <ul>
            <li><a href="/cities/Paris">Paris</a></li>
            <li><a href="/cities/Washington">Washington</a></li>
            <li><a href="/cities/Tokyo">Tokyo</a></li>
            <li><a href="/cities/Canberra">Canberra</a></li>
            <li><a href="/cities/Brazzaville">Brazzaville</a></li>
        </ul>
    </main>
    <footer>
        &copy;2023 Kuentin for O'Clock
    </footer>
</body>

</html>